/* Estilos para la página de inicio de sesión */
body {
  overflow-x: hidden; /* Oculta el desbordamiento horizontal */
  margin: 0; /* Elimina márgenes adicionales */
  padding: 0; /* Elimina padding adicional */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../assets/img/FonditoDifuminado.png) no-repeat center center fixed;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}


.card {
  background-color: rgba(248, 245, 233, 0.1) !important; /* Fondo blanco con opacidad */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  max-width: 600px; /* Aumenta el ancho máximo */
  padding: 3rem; /* Aumenta el relleno interno */
  border: 1px solid rgba(248, 245, 233, 0.2) !important; /* Borde del card */
  border-radius: 15px !important;
  padding: 40px 30px !important;
  max-width: 500px !important;
  width: 90% !important;
}

/* Asegura que el texto del botón esté siempre visible */
.btn-animate {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0.75rem 2rem;
  background-color: #526b5c;
  border: 2px solid #516039;
  font-weight: bold;
  text-align: center;
  transition: color 0.3s ease;
  z-index: 1; /* Asegura que el botón esté en el nivel correcto */
}

/* Efecto de relleno */
.btn-animate::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #5a6049;
  z-index: -1;
  transition: left 0.3s ease;
}

/* Animación al pasar el cursor */
.btn-animate:hover {
  color: #fff; /* Cambia el color del texto */
}

.btn-animate:hover::before {
  left: 0; /* Rellena el botón desde la izquierda */
}

/* Asegura que el contenido del botón esté por encima del efecto */
.btn-animate span {
  position: relative;
  z-index: 2; /* Asegura que el texto esté siempre visible */
}

.btn-animate:hover {
  transform: scale(1.05);
}
